.container {
    width: 575px;
    height: 550px;
    display: flex;
  }

.boxTemplate {
    position: relative;
    display: table;
    text-align: center;
    background-color: white;
    width: 250px;
    height: 300px;
    border-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

.col {
    padding: 15px;
}

.btn-template {
    display: table-cell;
    position: absolute;
    transform: translateY(-60%);
    width: 70%;
    height: 30px;
    box-shadow: 0.5cm;
    background-color: gold;
    border-color: black;
    border: 3px;
    color: black;   
    border-radius: 6px;
    bottom: 0;
}

.btn-template::after {
    width: 70%;
    height: 30px;
    box-shadow: 0.5cm;
    background-color: white;
    border-color: black;
    border: 3px;
    color: black;   
    border-radius: 6px;
}

.btn-template:hover {background-color:goldenrod}

.btn-template:active {
    width: 70%;
    height: 35px;
    box-shadow: 0.5cm;
    background-color: goldenrod;
    border-color: black;
    border: 3px;
    color: black;   
    border-radius: 6px;
}

.align-Text-Left {
    text-align: left;
    padding: 10%;
}

.align-Text-Right {
    text-align: right;
    padding: 10%;
}